@tailwind base;
@tailwind components;
@tailwind utilities;
.not-found {
  -webkit-mask-box-image: url('https://media.flaticon.com/dist/min/img/video/rex/mask.svg');
  mask-image: url('https://media.flaticon.com/dist/min/img/video/rex/mask.svg');
}
@layer components {
  .heroButton {
    @apply px-6 py-2 border rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
  }
}
.b-black {
  border: #333333;
}
.b-white {
  border: #fff;
}
html {
  scroll-behavior: smooth;
}
